@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #f84565;
    --color-primary-dull: #D63854;
}

* {
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #811528 #1e1e1e;
}

body{
    color: white;
    background-color: #000000;
    cursor: url("/cursor.png") 0 0, auto;
    overflow-x: hidden;
}

.no-scrollbar{
    scrollbar-width: none;
}

.custom-scrollbar {
  scrollbar-width: thin;           
  scrollbar-color: #811528 transparent; 
}
